body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}
.name-second {
  text-transform: capitalize;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  margin-right: 76px;
}

.footer-logo {
  margin-bottom: 16px;
}
.header-logo-part {
  color: #2e2f42;
}

.footer-logo-part {
  color: #f4f4fd;
}

.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  display: flex;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-nav-link:hover,
.header-nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.section-top {
  background-color: #2e2f42;
  padding: 188px 0;
}

.section-second {
  padding-top: 120px;
  padding-bottom: 120px;
}

.part-third {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.section-fourth {
  padding-top: 120px;
  padding-bottom: 120px;
}
.maim-top {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.main-btn {
  background: #4d5ae5;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.main-btn:hover,
.main-btn:focus {
  background: #404bbf;
}

.main-btn:hover,
.main-btn:focus {
  background: #404bbf;
}

.name-second {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.tex-third {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.main-list {
  display: flex;
  gap: 24px;
}

.main-iteam {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.name-third {
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-iteam {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.man {
  padding: 32px 0;
}

.name-third-man {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-fourth {
  padding-top: 120px;
  padding-bottom: 120px;
}

.bottom {
  background: #fff;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.main-list-img {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.bottom {
  padding: 32px 16px;
}
.main-iteam-img {
  width: calc((100% - 48px) / 3);
}

.name-third-img {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.tex-third-img {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.tex-third-man {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-tex {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
